/* shared styles */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
margin:0px;
padding: 0px;
max-width: 1470px;
}
.button1{
    background-color: #F948B2;
    padding: 10px;
    border-radius: 48px;
    border: none;
    color:#fff;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
/* nav section styles */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
}
.nav-img, .nav-content, .follow-link {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    color: #3C354F;
}
.follow-link{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 1rem;
    border: none;
}
.heading-style{
    color: #FF42A5;
}
/* banner section style */
.banner{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    background-image:(images/Group 14.png);
}
.banner-heading{
    font-size: 5rem;
    color: #F948B2;
    font-weight: 800; 
    background: linear-gradient(to left, #f32170, #cf23cf);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
.banner-line{
    list-style: none;
    margin-bottom: 20px;
}
.button2{
    padding: 10px;
    border: none;
    color:#fff;
    width: 100px;
    height: 40px;
    font-size: 20px;border-radius: 48px;
    background: #4EC5F7;
}
.banner-content{
    align-items: center;
}
li{
    display: flex;
    align-items: center;
}
/* online funny video styles */
.funny-video{
    width: 100%;
}
.online-header, .intro{
    text-align: center ;
}
.funny-header{
    font-weight: 800; 
    background: linear-gradient(to left, #f32170, #cf23cf);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
.funny-img{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}
.f-img{
    width: 310px;
}
.play-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;   
}
.play-content{
    text-align: center;
    padding-left: 100px;
}
.play-img2{
    position: absolute;
    margin-top: -300px;
    margin-left: -150px;
}
.link-button-section{
    padding-top: 200px;
}
/* link button section */
.link-button-section{
    padding: 200px;
}
.button-line1{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn1:hover{
    color:#F948B2;
    border: #F948B2 1px solid;
    border-radius: 50px;
    padding: 10px;
}
/* FOOTER style */
footer{
    background-color: #0B0223;
}
.h2{color:floralwhite;
    text-align: center;
}
.footer-img{
 display: flex;
 align-items: center;
 justify-content: center;   
}
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    color:floralwhite;
    padding-bottom: 4rem;}
.footer-title{
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: white;
}
.footer-icon{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 3rem;
}
.policy{
    display: flex;
    justify-content: center;
    gap:4rem;
    padding-top: 3rem;
    font-size: 14px;
    color: gray;
}
.copyright{
    text-align: center;
    color: gray;
    padding-top: 1rem;

}